h1{
	font-size: 48;
	text-align: center;
}

body{
	padding: 0;
	margin: 0;
	width:100vw;
	height: 100vh;
	position:center;
}

.panel{
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: center;
}
.question-container{
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	background-color: #c7dddf;
	font-size: x-large;
	text-align: center;
	position: center;
	justify-content: center;
}
.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	font-size: 50px;
	
}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 20vh;
	background-color: #9eb1b3;
	align-items: center;
	position: relative;
}
.option{
	padding: 10px;
	width: 15vw;
	height: 10vh;
	font-size: larger;
	background-color: lightskyblue;
	border-radius: 25%;
	align-items: center;
	position: center;
}
.option:hover{
	background-color: lightgoldenrodyellow;
}
.navigation{
	width: 80vw;
	height: 10vh;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	background-color:#c7dddf;
    align-items: center;
	position: relative;
}

.back, .evaluate, .next{
	width:18vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
}
.evaluate{
	background-color: #50DBB4;
}
.next{
	color: white;
	background-color: #BF3325;
}

.back{
    color: black;
    background-color: #c7dddf;
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position: absolute;
}

.img-magnifier-glass {
  position: relative;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}